* {
    box-sizing: border-box;
    font-family: 'Marvel', sans-serif;
}

html,
body {
    background:rgb(74, 13, 143);
    background: linear-gradient(135deg, rgb(74, 13, 143), rgb(250, 42, 143));
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    min-width: 320px;

}

header h1 {
    color: #fff; 
    font-weight:bold;
}

#main {
    margin:0 auto;
    padding: 10px;
    border-radius: 4px;
   
}

.labels{
    width: 50%;
    display: inline-block;
    text-align:right;
    vertical-align: top;
    margin-top: 10px;
    font-size: 1.2em;
}

.content-right{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-left:10px;
    width: 45%;
    margin-top: 5px;
}

input.userDetails,textarea,select{
    background: linear-gradient(135deg,rgb(0,42,54),rgb(7,53,66));
    /* background:rgba(0, 212, 255, 1); */
    width: 200px;
    height: 35px;
    color: #ffff;
    border:1px solid #c0c0c0;
    margin:5px;
    padding: 5px;
    font-size: .9em;
  
}

input.userDetails:focus, textarea:focus{
    border-bottom: 3px solid rgba(0, 212, 255, 1);
   
}

#main:hover,input.userDetails:hover, textarea:hover{
    border:1px solid #fff;
}

::placeholder{

    color:#fff;
    font-size:1.2em;
    padding: 5px;
}


input[type="checkbox"],input[type="radio"]{
float: left;

}

select#dropdown option{
background: rgb(0,42,54);
font-size: 1.1em;
}

ul li{
    list-style: none;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    
}

textarea#comments{
    height: 70px;
    resize: both;
}

button#submit{
    width: 100px;
    height:45px;
    background: rgb(0,42,54);
    padding: 5px;
    color: #fff;
    font-weight: 700;

}

button#submit:hover{
    background: radial-gradient( rgb(0,42,54),rgba(0, 212, 255, 1), rgb(0,42,54));
}




/* media queries */

@media screen and (max-width:520px){
    .labels{
        width: 100%;
        text-align: left;
    }

    .content-right{
        float: left;
        widows: 80%;
    }

    input.userDetails{
        width:100%;
    }



    
}